* {
    margin: 0;
    padding: 0;
}

:root {
    --one: rgb(22, 209, 22);
    --two: aliceblue;
}

body { 
    background-image: linear-gradient(to right top, #4f4f4f, #4f4d56, #4f4a5c, #504762, #514468, #55446e, #594573, #5e4579, #664a81, #6e4e89, #765391, #7f5799);
    background-attachment: fixed;
}

#header {
    margin-top: 20px;
    color: var(--one);
    font-size: 30px;
    font-family: Gruppo;
}

#image-header {
    color: white;
    text-align: center;
}

#userInput {
    background-color: var(--two);
    color: black;
}

#userInput,
#submit,
#preview-btn {
    border: none;
    font-size: 22px;
    line-height: 20px;
    margin: auto;
    margin-top: 50px;
    padding: 10px 24px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit,
#preview-btn {
    background-color: var(--one);
    color: var(--two);
}

.hidden { display: none; }

.show { display: inline-block; }

#image-container {
    /* object-fit: contain; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 300px;
    margin: 15px;
}